{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for item in results %}
        <tr>
            <td class="text-start">{{item.share_symbol}}</td>
            <td class="text-end">{{item.shares}}</td>
            <td class="text-end">{{item.price | usd}}</td>
            <td class="text-end">{{item.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}